{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "files": ["*.test.js"],
      "env": { "jest": true }
    }
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "webextensions": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, { "allow": "as-needed" }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
